* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 5%;
  background-image: url('./assets/img/hollywoodUnsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.buttonsForSort {
  width: 17vw;
  margin: 5% auto 0 auto;
  display: flex;
  justify-content: space-around;
}

.buttonsForSort button {
  background-color: green;
  color: whitesmoke;
  padding: 2% 3%;
  border-radius: 5px;
  border: transparent;
  font-size: .6rem;
}

.listBg {
  width: 40vw;
  margin: 0 auto;
  background-color: rgba(246, 255, 246, 0.923);
  border: 2px solid green;
}

.listPoints {
  background-color: green;
  color: whitesmoke;
  padding: 2% 0 ;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}
